*{
    color: white;
    cursor: crosshair;
}
h1{
    margin-left: 37%;
}
h2{
    margin-left: 5%;
}
.flipSide-180{
    background-color: black;  
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    margin-left: 17%;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.flipSide-180:hover{
    cursor:pointer;
    transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
}
body{
    background-color: black;
    animation: polygon-in-opposing-corners 2s ;
}
@keyframes polygon-in-opposing-corners {
    from {
      clip-path: polygon(0 0, 50% 50%, 100% 100%, 50% 50%);
    }
    to {
      clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
    }
  }
  
  [transition-style="in:polygon:opposing-corners"] {
    animation: 1.5s cubic-bezier(.25, 1, .30, 1) polygon-in-opposing-corners both;
  }
  .main{
    margin-top: 20px;
    margin-left: 20%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.205);
    border: 2px white solid;
    border-radius: 5px;
  }
  .skewX{
    width: 90%;
    margin-left: 5%;
    background-color: black;  
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.skewX:hover{
    cursor: pointer;
    transform: skewX(30deg);
        -webkit-transform: skewX(30deg);
        -moz-transform: skewX(30deg);
}