body{
    background-color: rgb(50, 50, 151);
}
form{
    background-color: rgb(87, 87, 170);
    width: 50%;
    margin-left: 25%;
    padding: 20px;
}
input{
    margin: 10px;
    width: 80%;
}
.info{
    width: 90%;
    margin-left: 60px;
}
input[type="submit"]{
    background-color: black;
    border:none;
    color: white;
    transition: all 0.4s linear;
}
button{
    width: 80%;
    margin-left: 10px;
}
